/* Totalcard {
  background-color: rgb(38, 153, 251); */
/* } */
.CardContent {
  background-color: rgb(38, 153, 251);
  color: white;
}
.cardiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2%;
  /* justify-content: center; */
}
.cardivtwo {
  margin-left: 4%;
  color: white;
  font-weight: bold;
}
.combinedrevenues {
  display: flex;
  flex-direction: row;
  margin-left: 16%;
}
.cardivx {
  margin-left: 6%;
  border-left: 1px solid black;
  padding-left: 8%;
}
